[user]
	name = Josh Peterson
	email = joshuadanpeterson@gmail.com
[core]
	pager = delta
	excludesfile = /Users/joshpeterson/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = false

# Set delta config

[include]
    path = ~/.config/gitconfig/delta/themes.gitconfig

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers = true # set line numbers
    side-by-side = true # set side by side preview
    hyperlinks = true
    features = "arctic-fox"

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[pager]
    blame = delta

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
